<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5-3-1 for Beginners</title>
    <link href="/static/five_three_one.css" rel="stylesheet">
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/five_three_one.js"></script>
</head>
<body>
<h1>Enter your training max</h1>
<form method="post" action="/">
    {{ form }}
    {% csrf_token %}
    <input type="submit" id="id_submit_tmax">
</form>
{% if errors %}
<p>{{errors}}</p>
{% endif %}
{% if workout %}
<hr>
<table id="id_workout_table">
    <thead>
        <tr>
            <th>%</th>
            <th>Count</th>
            <th>Weight</th>
            <th>Breakdown</th>
        </tr>
    </thead>
    <tbody>
        {% for set in workout %}
        <tr>
            <td>{{set.percent}}</td>
            <td>{{set.reps}}</td>
            <td>{{set.weight}}</td>
            <td>{{set.breakdown}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="id_next_set">Next set</button>
{% endif %}
<hr>
<h3>FAQ</h3>
<ul>
    <li><p><strong>What is 531?</strong></p>
        <p>A training program/template/whatever by Jim Wendler, a very strong person who is not me.
            <a href="https://www.amazon.com/Simplest-Effective-Training-System-Strength-ebook/dp/B00AJ8CIQM/ref=sr_1_2?dchild=1&keywords=531&qid=1610818462&sr=8-2">Buy the book</a> and learn more</p>
    </li>
    <li>
        <p><strong>What is your privacy policy?</strong></p>
        <p>I store literally no data anywhere.</p>
    </li>
    <li>
        <p><strong>This is ugly?</strong></p>
        <p>Time spent prettifying is time spent not doing something more valuable, like
        petting cats or pretending to be a pebble at the bottom of the ocean.
        If you you really care about it, feel free to <a href="https://github.com/JonathanMeans/imtoodumbtofigureout531onmyown">do something about it</a></p>
    </li>
    <li>
        <p><strong>Financials?</strong></p>
        <p>Monthly costs</p>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Domain name</td>
                    <td>$2</td>
                </tr>
                <tr>
                    <td>Server</td>
                    <td>$5</td>
                </tr>
                <tr>
                    <td>Misc. Google admin</td>
                    <td>$6</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$13</td>
                </tr>
            </tbody>
        </table>
        <p>If you find this useful, <a href="https://www.buymeacoffee.com/jetmeans">support</a> is always appreciated. :)</p>
        <p>Half of any proceeds (let's be honest, I'm dreaming here) go to <a href="https://www.ahealthieramerica.org/">Partnership for a Healthier America</a></p>
    </li>
    <li>
        <p><strong>I have feedback</strong></p>
        <p><a href="mailto:jon@imtoodumbtofigureout531onmyown.com">You can yell at me all you like here</a></p>
    </li>
</ul>
<script>
    five_three_one_initialize();
</script>
</body>
</html>