<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5-3-1</title>
</head>
<body>
<table id="id_workout_table">
    <thead>
        <tr>
            <th>%</th>
            <th>Count</th>
            <th>Weight</th>
            <th>Breakdown</th>
        </tr>
    </thead>
    <tbody>
        {% for set in workout %}
        <tr>
            <td>{{set.percent}}</td>
            <td>{{set.reps}}</td>
            <td>{{set.weight}}</td>
            <td>{{set.breakdown}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>